<h1>Pet Vet Tracker</h1>

<h2>Veterinarians</h2>
<ul>
  <% @veterinarians.each do |veterinarian| %>
    <li><a href="/veterinarians/<%= veterinarian.id %>"><%= veterinarian.name %></a></li>
  <% end %>
</ul>

<h2>New Veterinarian</h2>

<% if @veterinarian.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @veterinarian.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/veterinarians" method="post">
  <%= render('form') %>
  <button>Create Veterinarian</button>
</form>

<br>

<p><a href="/pets">Pets list</a></p>