<h1>Pet Vet Tracker</h1>

<ul>
  <% @pets.each do |pet| %>
    <li><a href="/pets/<%= pet.id %>"><%= pet.name %></a></li>
  <% end %>
</ul>

<h2>New Pet</h2>

<% if @pet.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @pet.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/pets" method="post">
  <%= render('form') %>
  <button>Create Pet</button>
</form>

<p><a href="/veterinarians">Veterinarians list</a></p>